/* CSS */
#app {
  display: flex;

  align-items: center;
}

/* CSS */
.button-30 {
  z-index: 10;
  width: 100px;
  height: 50px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;

}

.button-30:focus {
  outline: none;
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


.slider-container1 {
  position: relative;

  font-family: "JetBrains Mono", monospace;

}


.slider-container2 {
  position: relative;

  font-family: "JetBrains Mono", monospace;
}


h1 a {
  font-size: 80px;
  color: #BF2E97;
  text-decoration: none;
  text-transform: uppercase;

}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  display: none;
  z-index: 999;
  /* This sets the menu to appear on top of everything */
}

.popover:target {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popover .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  color: #fff;
  background-color: #191919f6;
  animation: 1s grow ease forwards;
  text-align: center;
}

.nav_list {
  list-style-type: none;
}

.nav_list a {
  text-decoration: none;
  font-size: 50px;
  color: #fff;
}

.nav_list_item {
  height: 100%;
  overflow: hidden;
}

.nav_list li {
  padding: 15px 0;
  text-transform: uppercase;
  transform: translateY(200px);
  opacity: 0;
  animation: 2s slideUp ease forwards .5s;
  position: relative;
}

.nav_list li::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0px;
  left: 0;
  bottom: 10px;
  background: #BF2E97;
  transition: all .5s ease;
}

.nav_list li:hover:before {
  width: 100%;
}

.popover p {

  opacity: 0;
  animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  position: absolute;
  display: flex;
  z-index: 1;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  background-color: #005aadf6;
  color: #fff;
  content: "×";
  cursor: pointer;
  opacity: 0;
  animation: 1s fadeIn ease forwards .5s;
}

@keyframes grow {
  100% {
    height: 120%;
    width: 100%;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
}


.close-button button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #ffffff;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
  margin-left: 10px;
}

.label-text {
  margin-top: 20px;
  font-family: "JetBrains Mono", monospace;
  margin-left: 16px;
}

.toggle {
  top: 10px;
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6,
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: #037cd8;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6;
}

.toggle-state:checked~.indicator {
  transform: translate3d(25%, 0, 0);
}


.menu-label {
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
  display: block;
  text-align: center;
  width: 300px;
}

.sec-center {
  margin-top: 25px;
  float: left;
  display: inline-block;
  width: 45%;
  text-align: center;

}

.sec-center+.sec-center {
  margin-left: 4%;
}

.sec-center:first-of-type {
  margin-left: 6%;
}

nav {
  width: 250px;
  border-radius: 15px;
  background: #ffffff;

  margin: 40px auto;
}

span {
  padding: 20px;
  background: #2d2f31;
  width: 250px;
  color: white;
  border-radius: 15px;
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
}

span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.slide li {
  padding: 30px;
}

#OpenPalm {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#OpenPalm:checked+.slide {
  height: 300px;
}

#Fist {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#Fist:checked+.slide {
  height: 300px;
}

#IndexFinger {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#IndexFinger:checked+.slide {
  height: 300px;
}

#DoubleIndexFinger {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#DoubleIndexFinger:checked+.slide {
  height: 300px;
}

#NoAction {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#NoAction:checked+.slide {
  height: 300px;
}

#Spider-Man {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#Spider-Man:checked+.slide {
  height: 300px;
}

#OK {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#OK:checked+.slide {
  height: 300px;
}

#Telephone {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#Telephone:checked+.slide {
  height: 300px;
}






.button-1 {
  margin-right: 135px;
  padding: 7px 10px;
  width: 200px;
  height: 27px;
  margin-bottom: 5px;
  font-family: "JetBrains Mono", monospace;
  font-size: 10px;
  background-color: #202020;
  color: #ffffff;
  font-weight: bold;
  border: 2px solid #333333;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.button-1:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 2px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}

.button-1:focus {
  outline: none;
}







.close_icon {
  transition: all 0.075s ease-in-out;
  position: absolute;
  width: 2em;
  height: 2em;
  top: 5%;
  left: 95%;
  transform: translate(-50%, -50%);
  border: 0.1em solid;
  border-color: rgba(250, 250, 250, 0.8);
  border-radius: 6em;
  /*background: rgba(255,255,255,0.8);*/
}

.close_icon:after {
  transition: all 0.075s ease-in-out;
  font: 1em Helvetica, arial;
  font-size: 1em;
  width: 100%;
  height: 100%;
  content: "x";
  color: rgba(250, 250, 250, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -5%) scale(1.25, 1);
}


.container.zoom_invert:hover:before {
  font-size: 1.4em;
  border-color: rgba(200, 200, 200, 0.6);
}

.container.zoom_invert:hover .close_icon.zoom_invert {
  border-color: rgba(200, 200, 200, 1);
}

.container.zoom_invert:hover .close_icon.zoom_invert:after {
  color: rgba(100, 100, 100, 1);
}

.container.zoom_invert:active:before {
  font-size: 1.2em;
  border-color: rgba(200, 100, 100, 0.8);
}

.container.zoom_invert:active .close_icon.zoom_invert {
  transition: all 0.05s ease-in-out;
  font-size: 1.2em;
  border-color: rgba(50, 50, 50, 0.8);
}

.container.zoom_invert:active .close_icon.zoom_invert:after {
  transition: all 0.05s ease-in-out;
  font-size: 1.2em;
  color: rgba(50, 50, 50, 0.8);
}