<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles.css') }}>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5"></h3>
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>

            <div id="app">

                    <button class="button-6" @click="doExit">Exit</button>
                    <button class="button-6" @click="doAdjust">Adjust</button>
                    
                    <button class="button-6" @click="doMenu">Menu</button>
                    <div v-if="showSlider" class="slider-container1">
                        <strong>Mouse sensitivity</strong>
                        <input type="range" min="0" max="100" v-model="slider1Value"/>
                        <!-- <p>{{ slider1Value }}</p> -->
                    </div>
                    <div v-if="showSlider" class="slider-container2">
                        <strong>Volume sensitivity</strong>
                        <input type="range" min="0" max="100" v-model="slider2Value">
                        <!-- <p>{{ slider2Value }}</p> -->
                      </div>


                      <div v-show="showMenu" class="menu-tab">
                        <!-- Add menu content here -->
                    </div>
            </div>
        </div>
    </div>
</body>
